html {
    scroll-behavior: smooth;
    min-height: 100vh;
}
body{
    font-family: Gilroy-Light, Verdana, Geneva, Tahoma, sans-serif;
    background-image:linear-gradient(#011627, #000000);
    color: #fdfffc;
    font-size: 0.95em;
    padding:0 5vw;
}

a {
    color:#fdfffc;
}

/*navbar*/
.dropdown-menu a{
    color: #011627;
}

/*Landing page styling */
.navbar-brand {
    visibility: hidden;
    font-family: 'Gilroy-EB';
}


.title-content{
    margin-bottom: 0.5em;
}
.data-content{
    font-family: Gilroy-EB; 
}

h1 {
    font-family: Gilroy-EB, Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family:Gilroy-EB;
}

.home {
    font-family: Gilroy-EB;
}

.name-title{
    color: #05F0FF;
}

.navbar-collapse{
    margin-right:7em;
}

.desc {
    height: 90vh;
    padding: 25vh 5vw 0 5vw;
}


.works {
    margin-bottom: 15vh;
    align-items: center;
}
.works a, .contact a{
    color: #05F0FF;
}
.todo {
    width: 50%;
}


.experience {
    margin-bottom: 15vh;    
    align-items: center;
}

.experience .title-content{
    text-align: center;
}

.experience .content {
    margin-bottom: 3em;
}


.container {
    justify-content: center;
    display: flex;
}

.bioedu {
    margin-right: 10vw;
}

.biodata-1 {
    margin-right: 7vw;
}


.contact {
    margin: 10vh 0;
}

.sub-section{
    padding: 3em 0 0 0;
}

/* Title of each sub page */
.about-section{
    padding: 5em 0 0 0;
    max-width: 75ch;
}

/*Styling for form*/
.form-style {
    display: block;
    background-color: transparent;
    border: 0px solid transparent;
    border-bottom: 1px solid #fdfffc;
    color: #fdfffc;
}

.form-style:hover{
    border-bottom: 1px solid #05F0FF;
}

#deskripsi {
    border: 1px solid #fdfffc;
    width: 50vw;
}

#semester {
    color: #011627;
    background-color: #fdfffc;
    padding: 0.3em;
}

.submit {
    background-color: transparent;
    padding: 0.5em;  
    color: #fdfffc;
    border:1px solid #05F0FF;
    font-family: Gilroy-EB;
}

.submit:hover{
    background-color: #05F0FF;
    color: #011627;
    text-decoration: underline;
}

/*Course list styling*/
.box-kuliah {
    padding: 1em;
    border-left: 2px solid #fdfffc;
    min-width: 60vw;
}

.box-kuliah:hover{
    border-left: 1px solid #05F0FF;
}
.add-course-button a{
    font-size: 1.3em;
}

.form-content {
    font-size: 1.2em;
    font-family: Gilroy-EB;
}

.form-content, .form-deskripsi{
    margin-bottom: 0;
    max-width: 50vw;
}

.deskripsi {
    max-width: 50vw;
    text-align: justify;
}

.box-delete, .add-course-button {
    padding: 0.7em;  
    margin: 1em 0 1.5em;
    border:1px solid #05F0FF;
    font-size: 0.9em;
    font-family: Gilroy-EB;
    width: fit-content;
}

.box-delete:hover, .add-course-button:hover{
    background-color: #05F0FF;
}

.box {
    margin-bottom: 1.5em;
}

/*For mobile*/
@media (max-width: 990px){
    .navbar-brand {
        visibility: visible;
    }
    .home {
        display: none;
    }
}

@media (max-width: 720px){
    body {
        padding: 0 2vw;
        justify-content: center;
        width: 100vw;
        font-size: 0.8em;
    }
    .desc .data-content {
        text-align: left;
    }

    .sub-section, .about-section {
        padding: 10vh 0 0 5vw;
        max-width: 35ch;
    }

    /*Landing page styling*/
    .container {
        justify-content: left;
        display: inline;
    }
    .todo {
        width: 80%;
    }
    .todo-desc{
        display: inline;
    }

    .detail-biodata {
        justify-content: center;
    }
    .bioedu {
        margin-right: 0;
    }
    .biodata-1{
        margin-right:2vw;
    }
    .biodata-2{
        margin-left:2vw;
    }

    .jp04{
        width: 75%;
    }
    .foto {
        text-align: center;
        margin-top: 5em;
    }

    .title-content, .data-content, h3, .todo-desc{
        text-align: center;
    }

    /*Contact styling*/
    .contact {
        margin-top: 5vh;
        padding-left: 5vw;
    }
    .contact h3 {
        text-align: left;
    }
    .contact span{
        display: block;
        margin-bottom: 1vh;
    }

    /*Course list styling*/
    .box-kuliah {
        margin-left: 5vw;
        margin-right: 10vw;
    }
    .box-delete{
        margin-left: 5vw;
    }

    .form-content, .form-deskripsi{
        max-width: 75vw;
    }
    
    .detail-kuliah-content .title-content, .detail-kuliah-content .data-content {
        text-align: left;   
        padding-left: 5vw;
        max-width: 75vw;
    }

    .deskripsi {
        text-align: justify;
    }

    /*Form styling*/
    .add_kuliah p, .submit{
        margin-left:5vw;
    }
}


/*accordion*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion-container{
    display: flex;
    width: 100%;
}
.accordion {
    display: flex;
  background-color: #eee;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 1em;
}

.accordion-title{
    width:80%;
    border: none;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover, .accordion-title {
  background-color: #eee;
}


/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
}

.accordion-content {
    color: black;
}

.up, .down {
    width: 10%;
    border: none;
    outline: none;
}

/*table*/
th {
    color:#fdfffc;
}

tr {
    background-color: white;
}
td {
    width: 20vw; 
}

.number {
    width: 5vw;
}

/*signup*/
.signup {
    color: #05F0FF;
}