{% extends 'base.html' %}
{% load static %}  

<head>
	{% block head %}
	<title>Course Detail</title>
	{% endblock %}
</head>

<body>
	{% block body %}
	<div class="sub-section">
		<h1><span class="name-title">Books</span> Recommendation For You</h1>
		<input id="keyword" class="mt-4 rounded">
		<table class="table mt-5">
			<thead class="thead-light text-left">
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Author</th>
					<th scope="col">Description</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

	<script type="text/javascript">
		$(document).ready(function($){
			$("#keyword").keyup( function(){
				$("tbody").empty();
				var keys = $("#keyword").val();
				$.ajax({
					url: '/data?q='+ keys,
					success: function(data){
						var found = data.items;
						console.log(data.items);
						for(i=0; i<found.length;i++){
							var title = data.items[i].volumeInfo.title;
							var authors = data.items[i].volumeInfo.authors; //array of author
							var desc = data.items[i].volumeInfo.description;
							if($.type(authors) === "undefined"){
								authors = "";
							}
							if($.type(desc) === "undefined"){
								desc = "";
							}

							$("tbody").append(
								"<tr>" +
								"<td>" + title + 
								"<td>" + authors +
								"<td>" + desc +
								"</tr>"
							);
						}
					},
				});
			});
		});
	</script>
	{% endblock %}
</body>