{% extends 'base.html' %}
{% load static %}  

<head>
	{% block head %}
	<title>About Me</title>
	{% endblock %}
</head>

<body>
	{% block body %}
	<div class="sub-section mb-4 about-section">
		<h1><span class="name-title">About</span> Me</h1>
		<p>Seorang mahasiswa di Fakultas Ilmu Komputer, Universitas Indonesia. Sejak SMA, saya mulai mempelajari dasar-dasar pemrorgraman web seperti HTML dan CSS. Sekarang saya sedang mendalami desain dengan menjadi staf desain di 2 organisasi di Fasilkom UI. Saya senang menggambar dan baca novel, terutama buku-buku Agatha Christie!</p>
	</div>

	<div class="sub-section" id="acc-section">
		<div class="acc-container">
			<div class="accordion">
				<button class="accordion-title">Aktivitas Saat Ini</button>
				<button class="down">V</button>
				<button class="up">^</button>
			</div>
			<div class="panel">
				<p class="accordion-content py-4">Mengerjakan story PPW :)</p>
			</div>
		</div>

		<div class="acc-container">
			<div class="accordion">
				<button class="accordion-title">Pengalaman Organisasi</button>
				<button class="down">V</button>
				<button class="up">^</button>
			</div>
			<div class="panel">
				<p class="accordion-content py-4">Staf Media di DPM dan FUKi</p>
			</div>
		</div>

		<div class="acc-container">
			<div class="accordion">
				<button class="accordion-title">Pengalaman Kepanitiaan</button>
				<button class="down">V</button>
				<button class="up">^</button>
			</div>
			<div class="panel">
				<p class="accordion-content py-4">PJ Kreatif dan Dokumentasi BETIS 2021</p>
			</div>
		</div>

		<div class="acc-container">
			<div class="accordion">
				<button class="accordion-title">Prestasi</button>
				<button class="down">V</button>
				<button class="up">^</button>
			</div>
			<div class="panel">
				<p class="accordion-content py-4">Belum ada nih :(</p>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
			$(".accordion-title").on("click", function(){
				$(this).parent().next().toggle();
			});

			$(".up").on("click", function(){
				var content = $(this).parent().parent();
				var prev = content.prev();
				prev.before(content.detach());
			});

			$(".down").on("click", function(){
				var content = $(this).parent().parent();
				var next = content.next();
				next.after(content.detach());
			});
		});
		
	</script>


	{% endblock %}

</body>