<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @font-face {
            font-family: Gilroy-EB;
            src: url("{% static 'fonts/Gilroy-FREE/Gilroy-ExtraBold.otf' %}");
            }
        @font-face {
            font-family: Gilroy-Light;
            src: url("{% static 'fonts/Gilroy-FREE/Gilroy-Light.otf' %}");
        }
    </style>
    {% block head %}
    <title></title>
    {% endblock %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css'  %}">

    <!-- Local AJAX-->
    <script src="{% static 'jquery-3.5.1.min.js'  %}"></script>

    <!-- jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->

</head>

<!-- body -->
<body>
    <nav class="navbar navbar-expand-lg d-flex navbar-dark mx-auto">
        <span class="navbar-brand mb-0 h1"> <a href="{% url 'app_ppw:index' %}">alishayb</a></span>
        <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mx-auto mt-3">
                <li class="nav-item mx-4">
                  <a class="nav-link home" href="{% url 'app_ppw:index' %}">HOME</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="{% url 'app_ppw:about' %}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Course/Event List
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">    
                        <a class="dropdown-item" href="{% url 'app_ppw:list_kuliah' %}">Course List</a>
                        <a class="dropdown-item" href="{% url 'app_ppw:jadwal_kegiatan' %}">Event List</a>
                    </div>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="{% url 'story8:books' %}">Books Search</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="{% url 'login' %}">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block body %}
    <section>

    </section>
    {% endblock %}
            
    <div class="contact d-flex flex-column" id="contact">
        <h3 class="mb-4 mt-5">Contact me via: </h3>
        <div class="social-media d-flex">
            <p><span class="social mr-5"><i class="fab fa-github"></i><a href="https://github.com/alishayb">  @alishayb </a></span>
            <span class="social mr-5"><i class="fab fa-instagram mr-1"></i><a href="https://www.instagram.com/alishabakri/"> @alishabakri </a></span>
            <span class="social"><i class="fab fa-linkedin mr-1"></i><a href="https://www.linkedin.com/in/alisha-yumna-bakri-922682166/"> Alisha Yumna Bakri</a>
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
</body>
</html>