{% extends 'base.html' %}
{% load static %}  

<head>
    {% block head %}
    <title>Delete Course</title>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="mt-5">
        <h3 class="data-content">Are you sure you want to delete {{ kuliah.nama_Mata_Kuliah }} ?</h3>    
    </div>

    <div class="box-delete-kuliah d-flex flex-row">
        <div class="box-delete rounded mr-4">
            <a href="{% url 'app_ppw:delete_kuliah_confirm' kuliah.id %}">Delete</a>
        </div>
        <div class="box-delete rounded">
            <a href="{% url 'app_ppw:list_kuliah' %}">Cancel</a>
        </div>
    </div>

    {% endblock %}
</body>
