{% extends 'base.html' %}
{% load static %}  

<head>
    {% block head %}
    <title>Course Detail</title>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="sub-section mb-4">
        <h1><span class="name-title">Course</span> Detail</h1>
    </div>
    <div class="detail-kuliah-content">
        <div class="content">
            <p class="title-content">Nama Mata Kuliah</p>
            <p class="data-content">{{kuliah.nama_Mata_Kuliah}}</p>
        </div>
        <div class="content">
            <p class="title-content">Dosen Pengajar</p>
            <p class="data-content">{{kuliah.dosen_Pengajar}}</p>
        </div>
        <div class="content">
            <p class="title-content">SKS</p>
            <p class="data-content">{{kuliah.SKS}}</p>
        </div>
        <div class="content d-flex flex-column">
            <p class="title-content">Deskripsi</p>
            <p class="data-content deskripsi">{{kuliah.deskripsi}}</p>
        </div>
        <div class="content">
            <p class="title-content">Semester</p>
            <p class="data-content">{{kuliah.semester}}</p>
        </div>
        <div class="content">
            <p class="title-content">Tahun Ajaran</p>
            <p class="data-content">{{kuliah.tahun_Ajaran}}</p>
        </div>
        <div class="content">
            <p class="title-content">Ruang Kelas</p>
            <p class="data-content">{{kuliah.ruang_Kelas}}</p>
        </div>
    </div>
        
    {% endblock %}
</body>