{% extends 'base.html' %}
{% load static %}   
<head>
    {% block head %}
    <title>Alisha Y.B.</title>
    {% endblock %}

</head>
<body>
    {% block body %}
    <section class="mt-4">
        <div class="desc">
            <h1>Hello! I'm <span class="name-title">Alisha.</span></h1>
            <p>Computer science student, eager to learn new things especially about web development!</p>
        </div>

        <div class="works d-flex flex-column" id="works">
            <h3 class="pb-5">PREVIOUS PROJECT</h3>
            <img class="todo pb-4" src="{% static 'images/todoapp.png' %}"/>
            <p class="todo-desc"> <a href="https://github.com/gpersable/-TODO-SpringBootApp">// TODO</a> is a Spring Boot application that can help to remind you on your deadlines. </p>
            <p class="todo-desc"> Made in a collaboration with <a class="collaborator" href="https://github.com/gpersable">Gita</a>, <a class="collaborator" href="https://github.com/natsyz">Nata</a>, and <a class="collaborator" href="https://github.com/kanzee">Khansa</a>.</p>
        </div>

        <div class="experience d-flex flex-column">
            <h3 class="pb-4">EXPERIENCE</h3>
            <div class="detail-experience">
                <div class="content">
                    <p class="title-content">Feb 2020 - Present</p>
                    <p class="data-content">Media Beureau Staff at FUKI Fasilkom UI</p>
                </div>
                <div class="content">
                    <p class="title-content">Feb 2020 - Present</p>
                    <p class="data-content">Media Division Staff at DPM Fasilkom UI</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="bioedu">
                <div class="biodata mb-5" id="profile">
                    <h3 class="pb-4">BIODATA</h3>
                    <div class="detail-biodata d-flex">
                        <div class="biodata-1">
                            <div class="content">
                                <p class="title-content">Full Name</p>
                                <p class="data-content">Alisha Yumna Bakri</p>
                            </div>
                            <div class="content">
                                <p class="title-content">Nickname</p>
                                <p class="data-content">Alisha</p>
                            </div>
                            <div class="content">
                                <p class="title-content">Address</p>
                                <p class="data-content">Depok, Jawa Barat</p>
                            </div>
                        </div>
                        <div class="biodata-2">
                            <div class="content">
                                <p class="title-content">Age</p>
                                <p class="data-content">18</p>
                            </div>
                            <div class="content">
                                <p class="title-content">Gender</p>
                                <p class="data-content">Female</p>
                            </div>
                            <div class="content">
                                <p class="title-content">Hobbies</p>
                                <p class="data-content">Drawing and reading</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="education">
                    <h3 class="pb-4">EDUCATION</h3>
                    <div class="detail-edu">
                        <div class="content">
                            <p class="title-content">2016 - 2019</p>
                            <p class="data-content">SMAN 26 Jakarta</p>
                        </div>
                        <div class="content">
                            <p class="title-content">2019 - Present</p>
                            <p class="data-content">Universitas Indonesia</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="foto">
                <img class="jp04" src="{% static 'images/JP04-smaller.png' %}"/>
            </div>
        </div>

    </section>

    {% endblock %}
</body>