{% extends 'base.html' %}
{% load static %}  

<head>
    {% block head %}
    <title>Event List</title>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="sub-section mb-4">
        <h1><span class="name-title">Event</span> List</h1>
    </div>
    <div class="box-delete-kuliah">
        <div class="box-delete rounded">
            <a href="{% url 'app_ppw:tambah_kegiatan' %}">Add New Event</a>
        </div>
    </div>
    {% for kegiatan in list_kegiatan %}
    <div class="box">
        <div class="box-kuliah">
            <p class="form-content">{{ kegiatan.nama_Kegiatan }}</p>
            {% for member in kegiatan.peserta_set.all %}
            <p class="form-deskripsi deskripsi">{{ member.nama_Peserta }}</p>
            {% endfor %}
        </div>
        <div class="box-delete-kuliah">
            <div class="box-delete rounded">
                <a href="{% url 'app_ppw:tambah_peserta' kegiatan.id %}">Add Event Member</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
</body>