{% extends 'base.html' %}
{% load static %}   
<head>
    {% block head %}
    <title>Add Course</title>
    {% endblock %}

</head>
<body>
    {% block body %}
    <div class="sub-section mb-5">
        <h1><span class="name-title">Add</span> Course</h1>
    </div>
    <form action="add_kuliah" method="POST" class="add_kuliah">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="submit rounded"/>
    </form>
    {% endblock %}
</body>