{% extends 'base.html' %}
{% load static %}  

<head>
    {% block head %}
    <title>Course List</title>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="sub-section mb-4">
        <h1><span class="name-title">Course</span> List</h1>
    </div>
    <div class="add-course-button">
        <a href="{% url 'app_ppw:add_kuliah'%}"> Add Course </a>
    </div>
    {% for kuliah in mata_kuliah %}
    <div class="box">
        <div class="box-kuliah">
            <p class="form-content"><a href="{% url 'app_ppw:detail_kuliah' kuliah.id %}" > {{ kuliah.nama_Mata_Kuliah }} </a> </p>
            <p class="form-deskripsi deskripsi"> {{ kuliah.deskripsi }} </p>
        </div>
        <div class="box-delete-kuliah">
            <div class="box-delete rounded">
                <a href="{% url 'app_ppw:delete_kuliah' kuliah.id %}">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endblock %}
</body>