{% extends 'base.html' %}
{% load static %}

<head>
    {% block head %}
    <title>Personal Website</title>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="foto">
        <img class="jp04" src="{% static 'images/JP04-smaller.png' %}"/>
    </div>
    <section class="mt-4">
        <div class="desc">
            <h2>DESKRIPSI</h2>
            <p class="data-content">Mahasiswi Fakultas Ilmu Komputer, Universitas Indonesia. Senang mempelajari hal baru terutama yang berkaitan dengan web development. Saya senang membaca, menggambar, dan menonton anime :D</p>
        </div>
        <div class="biodata">
            <h2>BIODATA</h2>
            <div class="cont">
                <p class="data">Nama Lengkap : Alisha Yumna Bakri</p>
                <p class="data">Nama Penggilan : Alisha</p>
                <p class="data">NPM : 1906400173</p>
                <p class="data">Angkatan : 2019</p>
                <p class="data">Tempat Kuliah : Universitas Indonesia</p>
                <p class="data">Hobi: Menggambar, membaca novel, dan menonton anime</p>
            </div>
        </div>

        <div class="riwayat">
            <h2>RIWAYAT PENDIDIKAN</h2>
            <div class="cont">
                <p class="data">2009 - 2013 : SD Semut-Semut</p>
                <p class="data">2013 - 2016 : SMPIT Nurul Fikri</p>
                <p class="data">2016 - 2019 : SMAN 26 Jakarta</p>
                <p class="data">2019 - Sekarang : Universitas Indonesia</p>
            </div>
        </div>

    </section>

    {% endblock %}
</body>