{% extends 'base.html' %}
{% load static %}   
<head>
    {% block head %}
    <title>Add Event</title>
    {% endblock %}

</head>
<body>
    {% block body %}
    <div class="sub-section mb-5">
        <h1><span class="name-title">Add</span> Event </h1>
    </div>
    <form action="{% url 'app_ppw:tambah_peserta' id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="submit rounded"/>
    </form>
    {% endblock %}
</body>