{% extends 'base.html' %}
{% load static %} 

<head>
	{% block head %}
	<title>Login</title>
	{% endblock %}
</head>

<body>
	{% block body %}
	<div class="sub-section">
		<h1><span class="name-title mt-5">Login</span> to access more content!</h1>
	<form method="POST">
		{% csrf_token %}
		<p><label for="id_username">Username:</label> 
			<input type="text" id="username" name= "username" class="form-style">
		</p>
		<p><label for="id_username">Password:</label> 
			 <input type="password" id="password" name="password" class="form-style">
		</p>

		<input type="submit" value="Login" class="submit mt-4 rounded"/>
	</form>

	{% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}	


	<p class="mt-4"> Don't have an account? <a href="{% url 'register' %}" class="signup" > Sign Up Here </a> </p>
</div>
	{% endblock %}

</body>
