{% extends 'base.html' %}
{% load static %} 

<head>
	{% block head %}
	<title>Register</title>
	{% endblock %}
</head>

<body>
	{% block body %}
	<div class="sub-section">
		<h1><span class="name-title mt-5">Register</span></h1>
	<form method="POST" action="">
		{% csrf_token %}
		
		<p><label for="id_username">Username:</label> 
			{{form.username}}
		</p>
		<p><label for="id_email">Email:</label> 
			{{form.email}}
		</p>
		<p><label for="id_password1">Password:</label> 
			{{form.password1}}
		</p>
		<p><label for="id_password2">Confirm Password:</label> 
			{{form.password2}}
		</p>
		
		
		<input type="submit" value="Register" class="submit mt-4 rounded"/>
	</form>

	<div>
        {{form.errors}}
    </div>

</div>
	{% endblock %}
</body>
