{% extends 'base.html' %}
{% load static %} 

<head>
	{% block head %}
	<title>Welcome!</title>
	{% endblock %}
</head>

<body>
	{% block body %}
	<div class="sub-section text-center">
		<h1><span class="name-title mt-5">Welcome</span> {{user.username}} </h1>

		<a type="submit" value="Logout" class="submit mt-4 rounded" href="{% url 'logout' %}"> Logout </a>
		
	</div>
	{% endblock %}
</body>
